/*!
 *
 * Yoan Asdrubal Quintana Ramirez.
 *  14/5/2019
 *
 */
@import "variables";

mat-form-field {
	&.shrink {
		.mat-form-field-wrapper {
			padding-top: 0 !important;
			padding-bottom: 0 !important;
		}
	}
	
	&.shrink-top {
		.mat-form-field-wrapper {
			padding-top: 0;
		}
	}
	
	&.shrink-bottom {
		.mat-form-field-wrapper {
			padding-bottom: 0 !important;
			
			.mat-form-field-flex {
				min-height: 0 !important;
			}
		}
	}
}

.mat-dialog-title {
	font-family: $main-font-family !important;
}

.bt-1 {
	border-bottom: 1px solid #cccccc;
	
}

.bb-1 {
	border-bottom: 1px solid black;
	
	&.ng-invalid {
		border-bottom: 1px solid red;
	}
}

.bb-2 {
	border-bottom: 2px solid black;
	
	&.ng-invalid {
		border-bottom: 2px solid red;
	}
}
