$main-font-family: 'Source Sans Pro', sans-serif;

$top-toolbar-height: 48px;
$horizontal-menu-height: 64px;
$footer-toolbar-height: 50px;

$sidenav-width: 250px;
$compact-sidenav-width: 170px;
$mini-sidenav-width: 66px;

//color palette
$c-white: #ffffff;
$c-white-two: #fafafa; //new
$c-white-three: #f0f0f0; //new
$c-orange: #fc7a23;
$c-melon: #ff8256; //new
$c-coral-pink: #ef6a6e; //new
$c-dark-teal: #013243; // dark-blue
$c-light-teal: #93e7b9; //new
$c-dark-green-blue: #1c643c;
$c-verde-input: #23a36d; //new
$c-greenblue: #26c281; //new
$c-blue-2: #2a3f6e;
$c-azul-oscuro-titulo-77: rgba($c-blue-2, 0.77); //new
$c-soft-blue: #5699ff; //new
$c-denim: #3f6988; // c-blue
$c-pale-blue: #d9e4f2; // gray-6
$c-black-two: #212121; //new
$c-brown-grey-two: #979797; //new
$c-very-light-pink: #cccccc; //gray-3
$c-brownish-grey: #666666; //gray-10
$c-brown-grey: #888888; //gray-4
$c-a-4: #9197a4; // new
$c-black: #333333; //gray-2
$c-dark: #000000; //c-black
$c-red: #d64541;
$c-yellow: #FCB730; //new other

$c-red-2: #dd4972;
$c-green: #01603e;
$c-green-4: #1c643c;
$c-green-6: #195A43;
$c-green-2: #77e9c0;
$c-green-3: #38c08f;
$c-green-5: #27cf72;
$c-blue-3: #4c566a;
$c-gray: #f4f4f4;
$c-gray-5: #aaaaaa;
$c-gray-7: #D0D0D0;
$c-gray-8: #999999;
$c-gray-9: #6b6b6b;
$c-gray-11: #f8f8f8;
$c-gray-12: #eeeeee;
$c-gray-13: #e5e5e5;
$c-gray-14: #757575;
$c-gray-15: #e1e1e1;
